.emh {
  img {
    border-radius: 0;
  }

  a {
    color: $dark-accent;

    &:focus {
      outline: none;
    }
  }

  .site {
    max-width: $break-max;
    margin: 0 auto;
    position: relative;
    background: #fafafa;

    .site-main {
      margin-bottom: 0;

      .entry-content {
        @media screen and (min-width: $break-desktop) {
          margin-bottom: $desktop-section-gutter;
        }
      }

      .upsells {
        h2 {
          font-family: $serif;
          text-transform: uppercase;
        }

        .add_to_cart_button {
          display: none;
        }
      }
    }

    .content-area {
      @media screen and (min-width: $break-desktop) {
        margin-bottom: 0;
      }
    }

    .woocommerce-breadcrumb {
      @media screen and (min-width: $break-desktop) {
        padding-bottom: 0;
        margin-bottom: $desktop-section-gutter;
      }
    }

    .woocommerce-error,
    .woocommerce-info,
    .woocommerce-message,
    .woocommerce-noreviews,
    p.no-comments {
      background: $footer-bg;
    }

    .frm_style_formidable-style {
      &.with_frm_style {
        label {
          &.frm_primary_label {
            font-family: $sans-serif;
            color: $product-tile-copy;
          }
        }

        input[type='text'],
        input[type='email'],
        select,
        textarea {
          font-family: $sans-serif;
          color: $product-tile-copy;
        }

        .frm_error {
          font-family: $sans-serif;
        }

        .frm_checkbox {
          label {
            font-family: $sans-serif;
            color: $product-tile-copy;
          }
        }

        .frm_submit {
          button {
            border: 0;
            cursor: pointer;
            padding: 0.6180469716em 1.41575em;
            text-decoration: none;
            font-weight: 600;
            text-shadow: none;
            display: inline-block;
            outline: 0;
            -webkit-appearance: none;
            -webkit-font-smoothing: antialiased;
            border-radius: 0;
            font-size: 100%;
            margin: 0;
            vertical-align: baseline;
            line-height: 1.618;
            text-rendering: optimizeLegibility;
            font-family: $sans-serif;
            background: $dark-accent;
            color: #fff;

            &:hover {
              background: $feature-bg;
            }
          }
        }
      }
    }
  }

  .secondary-navigation {
    background: $secondary-nav-bg;
    overflow: hidden;
    margin: 0;

    .secondary-nav-content {
      li {
        @media (min-width: $break-desktop) {
          @include secondary-nav-sizing;
          font-family: $sans-serif;
          font-size: 0.875em;
        }
      }

      &.message-content {
        float: left;

        li {
          border-right: 1px solid #555;

          a {
            color: #fff;

            &:hover {
              color: $dark-accent;
            }
          }
        }
      }

      &.search-content {
        float: right;

        li {
          @media (min-width: $break-desktop) {
            border-left: 1px solid #555;
            padding-right: 2.5em;
          }

          a {
            @include secondary-nav-link;

            @media (min-width: $break-desktop) {
              &::after {
                display: inline-block;
                font: normal normal normal 1em/1 FontAwesome;
                color: #fff;
                position: absolute;
                top: 0.65em;
                right: 0.75em;
                content: '\f002';
              }
            }

            &:hover::after {
              color: $accent;
            }
          }
        }
      }
    }

    ul.menu {
      font-family: $sans-serif;
      font-size: 0.875em;

      li {
        @media (min-width: $break-desktop) {
          border-left: 1px solid #555;
          padding-left: 1.5em;

          a::before {
            display: inline-block;
            font: normal normal normal 1em/1 FontAwesome;
            color: #fff;
            position: absolute;
            top: 0.65em;
            left: 1em;
          }

          a:hover::before {
            color: $accent;
          }

          &#menu-item-14 a::before {
            content: '\f007';
          }

          &#menu-item-15 a::before {
            content: '\f07a';
          }
        }

        a {
          @media (min-width: $break-desktop) {
            @include secondary-nav-sizing;
            @include secondary-nav-link;
          }
        }
      }
    }
  }

  .site-search {
    display: none;
    z-index: 5000;
    position: absolute;

    @media (min-width: $break-desktop) {
      right: 1%;
      width: 40%;
      margin: 0;
    }

    .widget_product_search {
      form:before {
        top: 1.3em;
      }

      input[type='search'],
      input[type='text'] {
        padding: 0.5em 0 0.5em 3.7em;
        line-height: 2em;
        margin: 5px;
      }
    }
  }

  #dwls_search_results {
    z-index: 5000;
    position: absolute;
    background-color: #f2f2f2;
    border-top: #ccc;

    @media (min-width: $break-desktop) {
      right: 1%;
      margin: 0;
    }

    li,
    .search_footer {
      padding: 5px 0 5px 10px;
    }

    .search_footer {
      a {
        font-weight: 400;
      }
    }
  }

  .site-header {
    background: url('../../assets/images/header-bg-tile.jpg') repeat;

    @media (min-width: $break-desktop) {
      padding-top: 1.618em;
      margin-bottom: 0 !important;
      border-bottom: 0;
    }

    .col-full {
      width: 100%;
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .site-branding {
      width: 100%;
      float: none;
      overflow: hidden;
      margin: 0;

      .site-logo-link {
        width: 143px;
        display: block;
        margin: 0 auto;
        float: none;

        img {
          max-width: 100%;
        }
      }
    }

    .storefront-primary-navigation {
      background: none;

      .main-navigation {
        @media (min-width: $break-desktop) {
          width: auto;
          clear: both;
          display: block;
          float: none;
          margin: 0;
          position: relative;
          padding-top: 1.8em;
        }

        .menu {
          li {
            padding-left: 2em;
          }
        }

        .menu-toggle {
          position: absolute;
          top: 0;
          left: 0;
          background: none;
          border: 0;
          padding: 0.5em 0.5em 0.5em 3.6em;
          font-size: 1em;
          color: $navigation-item;

          span:before,
          &:after,
          &:before {
            height: 4px;
            width: 28px;
            background-color: $navigation-item;
          }

          &:before {
            transform: translateY(-8px);
          }

          &:after {
            transform: translateY(8px);
          }
        }

        &.toggled {
          .menu-toggle {
            &:after,
            &:before {
              transform: rotate(45deg);
            }

            &:after {
              transform: rotate(-45deg);
            }
          }
        }

        .primary-navigation {
          @media (min-width: $break-desktop) {
            display: table;
            margin: 0 auto;

            .sub-menu {
              background: url('../images/header-bg-tile.jpg');
              margin-left: 2em;

              li {
                padding-left: 0;

                a {
                  width: 250px;
                }
              }
            }
          }
        }

        a {
          font-family: $serif;
          text-transform: uppercase;
          color: $navigation-item;
          font-size: 1em;

          @media (min-width: $break-desktop) {
            padding: 1em 0.5em;
          }

          @media (min-width: $break-med-desktop) {
            padding: 1em;
          }

          @media (min-width: $break-max) {
            padding: 1em 1.6em;
          }

          &:hover {
            color: $accent;
          }

          &:before {
            content: '';
          }
        }
      }
    }
  }

  .site-content {
    .col-full {
      margin: 0;
      padding: 0;
      max-width: none;
    }
  }

  /* Home styles */

  &.page-template-template-homepage:not(.has-post-thumbnail) {
    .home-site-main {
      padding-top: 0;
      margin-bottom: 0;

      .page {
        padding: 0;
        margin-bottom: 0;
      }

      .featured-content {
        .swiper-container {
          width: 100%;
          height: 350px;
          margin-bottom: $desktop-section-gutter;

          @media (min-width: $break-desktop) {
            height: 490px;
          }

          .swiper-slide {
            width: 100%;
            height: 300px;
            overflow: hidden;
            background-size: cover;

            @media (min-width: $break-desktop) {
              height: 440px;
            }

            h2 {
              @include homepage-featured-headline;
              padding-top: 75px;
              font-size: 2.8em;
              line-height: 0.8;

              @media (min-width: $break-desktop) {
                padding-top: 125px;
                font-size: 5em;
              }
            }

            h3 {
              @include homepage-featured-headline;
              font-size: 2em;
              line-height: 1;

              @media (min-width: $break-desktop) {
                font-size: 3.6em;
              }
            }

            .featured-content-cta-container {
              text-align: center;
              margin-top: 50px;

              a {
                font-family: $sans-serif;
                text-transform: uppercase;
                color: #fff;
                padding: 1.2em 1.6em 1em 1.6em;
                background: $accent;
                border-bottom: 2px solid $dark-accent;
                font-weight: 400;

                &:hover {
                  background: $feature-bg;
                  border-bottom-color: $footer-bg;
                }

                &::after {
                  font: normal normal normal 1em/1 FontAwesome;
                  content: '\f0da';
                  color: #fff;
                  padding-left: 20px;
                }
              }
            }
          }

          .swiper-button {
            display: none;

            @media (min-width: $break-desktop) {
              background-image: none;
              background: rgba(255, 255, 255, 0.8);
              color: $swiper-button;
              display: block;
              font-size: 1.5em;
              height: 120px;
              margin-top: -90px;
              line-height: 120px;
              width: auto;

              &:hover {
                color: $accent;
              }

              &.swiper-button-prev {
                left: 0;
                padding: 0 0.4em 0 0.2em;
              }

              &.swiper-button-next {
                right: 0;
                padding: 0 0.2em 0 0.4em;
              }
            }
          }

          .swiper-pagination {
            .swiper-pagination-bullet {
              background: #867a76;
              opacity: 1;
              margin: 0 9px;
              width: 9px;
              height: 9px;
            }
            .swiper-pagination-bullet-active {
              background: $accent;
            }
          }
        }
      }

      .featured-products {
        text-align: center;

        @media (min-width: $break-desktop) {
          margin: 0 auto $desktop-section-gutter auto;
          max-width: $inner-max-width;
          overflow: hidden;
        }

        h2 {
          font-family: $serif;
          font-weight: 700;
          font-size: 2em;
          text-transform: uppercase;
          color: $heading-copy;
          margin-bottom: 10px;
        }

        p {
          color: $body-copy;
          font-family: $sans-serif;
          font-size: 0.875em;
          margin-bottom: 0;
        }

        #featured-products-tabs {
          text-align: left;
          padding: 0;
          overflow: hidden;
          margin-top: 2em;

          @media (min-width: $break-desktop) {
            margin: 5em 0 2em 0;
          }

          ul {
            display: none;
          }

          .ui-tabs-nav {
            display: table;
            margin: 0 auto 2em auto;

            .ui-state-active {
              border-bottom: 2px solid $dark-accent;
            }

            a {
              font-family: $serif;
              color: $body-copy;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 1.2em;

              &:hover {
                color: $dark-accent;
              }
            }
          }

          .ui-tabs-panel {
            padding: 0 0 4.854em 0;
          }

          .featured-product-tile {
            display: block;
            width: 90%;
            height: 312px;
            margin: 0 auto 9em auto;
            position: relative;
            background-position: center center;
            background-size: cover;

            @media (min-width: $break-desktop) {
              float: left;
              width: 32%;
              height: 288px;
              margin-right: 2%;
              margin-bottom: 1.125em;

              &.featured-product-tile-last {
                margin-right: 0;
              }

              &:hover .featured-product-tile-title {
                display: block;
              }
            }

            .featured-product-tile-title {
              display: block;
              position: absolute;
              top: 320px;
              left: 0;
              width: 100%;
              text-align: center;
              text-transform: uppercase;
              font-family: $sans-serif;
              font-weight: 700;
              font-size: 1.2em;
              line-height: 1.2em;
              color: $product-tile-copy;

              @media (min-width: $break-desktop) {
                display: none;
                position: relative;
                top: auto;
                left: auto;
                background: rgba(255, 255, 255, 0.8);
                width: 100%;
                height: 100%;
                padding: 40% 3% 0 3%;
              }

              .featured-product-tile-desc {
                p {
                  color: $product-tile-copy;
                  text-transform: none;
                  font-weight: 400;
                }
              }
            }
          }
        }
      }

      .featured-collections {
        @media (min-width: $break-desktop) {
          margin-bottom: 5em;
        }

        .featured-collections-head {
          @include clearfix;
          max-width: 56.25em;
          margin: 0 auto;
        }

        h2 {
          font-family: $serif;
          font-weight: 700;
          font-size: 2em;
          text-align: center;
          text-transform: uppercase;
          color: $heading-copy;
          margin-bottom: 10px;
          padding-top: 60px;
          border-top: 1px solid rgba(0, 0, 0, 0.2);

          @media (min-width: $break-desktop) {
            float: left;
            color: #fff;
            font-size: 0.9em;
            background: $feature-bg;
            padding: 0 30px;
            border-top: none;
            line-height: 50px;
            margin-bottom: 0;
          }
        }

        .swiper-button-container {
          float: right;
          position: relative;

          .swiper-button {
            display: none;

            @media (min-width: $break-desktop) {
              display: block;
              float: left;
              background-image: none;
              background: $feature-bg;
              color: $swiper-button;
              font-size: 1em;
              height: 50px;
              line-height: 50px;
              width: auto;
              left: auto;
              right: auto;
              position: relative;
              margin: 0;
              padding: 0 10px;
            }

            .fa {
              font-size: 48px;
              color: #fff;
            }

            &:hover {
              background: $swiper-button;

              .fa {
                color: $feature-bg;
              }
            }
          }
        }

        .swiper-container {
          margin-top: 2em;

          @media (min-width: $break-desktop) {
            background: $feature-bg;
            padding: 25px 0;
            margin-top: 0;
          }

          .swiper-wrapper {
            display: block;

            @media (min-width: $break-desktop) {
              display: flex;
            }

            .swiper-slide {
              display: block;
              width: 90%;
              height: 350px;
              margin: 0 auto 9em auto;
              position: relative;
              background-position: center center;
              background-size: cover;

              @media (min-width: $break-desktop) {
                margin: 0;
              }

              a {
                display: block;
                height: 100%;

                .featured-collection-title {
                  display: block;
                  position: absolute;
                  top: 360px;
                  left: 0;
                  width: 100%;
                  text-align: center;
                  text-transform: uppercase;
                  font-family: $sans-serif;
                  font-weight: 700;
                  font-size: 1.2em;
                  line-height: 1.2em;
                  color: $product-tile-copy;

                  @media (min-width: $break-desktop) {
                    display: none;
                    position: relative;
                    top: auto;
                    left: auto;
                    background: rgba(255, 255, 255, 0.8);
                    width: 100%;
                    height: 100%;
                    padding: 46% 3% 0 3%;
                  }

                  .featured-collection-desc {
                    p {
                      color: $product-tile-copy;
                      text-transform: none;
                      font-weight: 400;
                    }
                  }
                }

                @media (min-width: $break-desktop) {
                  &:hover .featured-collection-title {
                    display: block;
                  }
                }
              }
            }
          }
        }
      }

      .entry-content {
        margin: 0 auto;
        padding: 60px 5% 0 5%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);

        @media (min-width: $break-desktop) {
          padding: 0;
          margin-bottom: 100px;
          max-width: $inner-max-width;
          overflow: hidden;
          border-top: none;
        }

        p {
          color: $body-copy;
          font-family: $sans-serif;
          font-size: 0.9em;
          line-height: 1.2em;
          text-align: left;
        }

        img {
          float: none;
          display: block;
          margin-bottom: 40px;

          @media (min-width: $break-desktop) {
            float: left;
            margin: 0 40px 100px 0;
          }
        }
      }
    }
  }

  .social-footer {
    background: $social-bg;
    padding: $mobile-section-gutter 0;
    text-align: center;

    @media (min-width: $break-desktop) {
      padding: $desktop-section-gutter 0;
    }

    .social-links {
      list-style-type: none;
      margin: 0;

      .social-link {
        display: inline-block;
        margin: 0 0.5em;

        a {
          color: #fff;
          background: $social-button-bg;
          display: block;
          width: 2em;
          height: 2em;
          line-height: 2em;
          border-radius: 100%;

          &:hover {
            background: $accent;
          }
        }
      }
    }
  }

  .site-footer {
    background: $footer-bg;
    padding: 0;

    .menu-footer-menu-container {
      display: none;

      @media (min-width: $break-desktop) {
        display: block;
        float: left;
        padding-top: 1.6em;

        .menu {
          list-style-type: none;

          .menu-item {
            @media (min-width: $break-desktop) {
              float: left;
              margin-right: 0.5em;
              padding-right: 0.5em;
              border-right: 1px solid #fff;
              line-height: 1em;
            }

            &:last-child {
              @media (min-width: $break-desktop) {
                border-right: 0;
              }
            }

            a {
              color: #fff;
              font-size: 0.8em;
              font-family: $sans-serif;
              font-weight: 400;

              &:hover {
                color: $accent;
              }
            }
          }
        }
      }
    }

    .site-info {
      text-align: center;
      font-family: $sans-serif;
      font-size: 0.875em;
      color: #fff;
      padding: 1.3em 0 6em 0;

      @media (min-width: $break-desktop) {
        float: right;
        text-align: right;
        padding: 1.3em 0;
        margin: 0;
      }
    }
  }

  .woocommerce-message,
  .woocommerce-info {
    font-family: $sans-serif;
    line-height: 2.5em;

    .button {
      padding: 0.5em 1em;
      border-left: 0;
    }
  }

  &.single-post {
    .entry-header {
      padding-top: 2em;
    }
  }

  &.single-product,
  &.archive,
  &.woocommerce-cart,
  &.woocommerce-account,
  &.misc-inner,
  &.collections,
  &.page-template-template-blog,
  &.single-post {
    .product {
      margin-top: 30px;

      a {
        .woocommerce-loop-product-image-container {
          display: block;
          overflow: hidden;
          margin: 0 auto 1.618em;

          @media screen and (min-width: $break-desktop) {
            width: 264px;
            height: 264px;
          }

          img {
            @media screen and (min-width: $break-desktop) {
              transition-duration: 0.1s;
            }
          }
        }

        &:hover {
          .woocommerce-loop-product-image-container {
            img {
              @media screen and (min-width: $break-desktop) {
                transform: scale(1.1);
                transition-duration: 0.1s;
              }
            }
          }
        }
      }
    }

    .site-content {
      margin: 0 auto;
      padding: 1em 1em 0 1em;
      max-width: 56.25em;

      .content-area {
        position: relative;
      }

      .woocommerce-breadcrumb {
        font-family: $sans-serif;
        color: $product-tile-copy;
      }

      .button,
      .form-submit .submit {
        font-family: $sans-serif;
        background: $dark-accent;
        color: #fff;

        &:hover {
          background: $feature-bg;
        }
      }

      .page-title,
      .entry-title {
        font-family: $serif;
        color: $product-tile-copy;
        text-transform: uppercase;
        text-align: center;
        margin-top: 30px;

        &.product_title {
          margin-top: 0;
        }
      }

      .entry-content {
        font-family: $sans-serif;
        color: $product-tile-copy;

        h2 {
          font-size: 1.5em;
          color: $product-tile-copy;
          font-weight: 400;
        }
      }

      .summary {
        font-family: $sans-serif;
        color: $product-tile-copy;
        @media screen and (min-width: $break-desktop) {
          margin-bottom: $desktop-section-gutter;
        }

        .cart {
          border: 1px solid rgba(0, 0, 0, 0.05);
          padding: 1.5em;

          .quantity {
            padding: 0 1.41575em;

            label {
              font-weight: 400;
              padding-right: 1em;
            }

            .quantity-uom {
              padding-left: 5px;
            }
          }
        }
      }

      .woocommerce-tabs {
        font-family: $sans-serif;
        color: $product-tile-copy;

        @media screen and (min-width: $break-desktop) {
          padding: 0;
        }

        h2 {
          font-family: $serif;
        }

        ul.tabs {
          @media screen and (min-width: $break-desktop) {
            margin-right: 0;
            position: absolute;
            left: 2px;
          }

          li {
            @media screen and (min-width: $break-desktop) {
              padding-left: 10px;
              border-left: 1px solid rgba(0, 0, 0, 0.05);
            }

            &.active {
              @media screen and (min-width: $break-desktop) {
                background: #fff;
                border-right: 1px solid #fff;
              }

              &:after {
                color: $dark-accent;
              }
            }
          }
        }

        .wc-tab {
          @media screen and (min-width: $break-desktop) {
            padding: 1.5em 4.347826087%;
            width: 69.2173913043%;
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.05);
            float: left;
            margin-left: 30.4347826087%;
          }
        }

        .active a {
          //color: $product-tile-copy;
          color: $dark-accent;
        }

        a {
          //color: $dark-accent;
          color: $product-tile-copy;
        }
      }

      .related {
        font-family: $sans-serif;
        color: $product-tile-copy;
        border-top: 1px solid rgba(0, 0, 0, 0.05);

        @media screen and (min-width: $break-desktop) {
          padding-top: $desktop-section-gutter;
        }

        h2 {
          font-family: $serif;
          text-transform: uppercase;
          text-align: center;
          font-size: 2em;

          @media screen and (min-width: $break-desktop) {
            margin-bottom: $mobile-section-gutter;
          }
        }

        .add_to_cart_button {
          display: none;
        }
      }

      .storefront-sorting {
        font-family: $sans-serif;
        color: $product-tile-copy;

        select {
          font-family: $sans-serif;
        }
      }

      .products {
        h3,
        .wc-measurement-price-calculator-price {
          font-family: $sans-serif;
          color: $product-tile-copy;
        }
      }

      .quantity-note {
        font-style: italic;
        font-size: 0.8em;
        padding: 3px 0 0 80px;
      }

      table.cart {
        .coupon {
          input {
            font-family: $sans-serif;
          }
        }

        tbody tr {
          td,
          th {
            @media screen and (min-width: $break-desktop) {
              vertical-align: middle;
            }
          }
        }

        .product-name a {
          color: $dark-accent;
        }

        .quantity label {
          display: none;
        }

        .quantity-note {
          padding-left: 0;
        }

        .product-price {
          text-align: right;
        }

        .product-subtotal {
          text-align: right;

          &td {
            padding-bottom: 1.618em;
          }
        }

        .actions {
          padding-top: 2em;
        }
      }

      .cart_totals {
        h2 {
          font-family: $serif;
          font-weight: 700;
        }

        td {
          @media screen and (min-width: $break-desktop) {
            text-align: right;
          }
        }
      }

      .checkout {
        input,
        textarea {
          font-family: $sans-serif;
        }

        h3 {
          font-family: $serif;
        }

        th {
          background: #fff;
        }

        .woocommerce-checkout-review-order-table {
          padding-bottom: 1.3em;
          margin-bottom: 1.3em;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }

        #payment .payment_methods {
          padding: 0 1em !important;

          li {
            background-color: #fff;
          }
        }
      }

      .woocommerce-MyAccount-navigation,
      #wl-wrapper .wl-tabs {
        @media screen and (min-width: $break-desktop) {
          margin-right: 0;
          position: absolute;
          left: 2px;
          width: 30.4347826087%;
        }

        a {
          color: $product-tile-copy;
        }

        li {
          @media screen and (min-width: $break-desktop) {
            padding: 10px;
            border-left: 1px solid rgba(0, 0, 0, 0.05);
          }

          &.is-active,
          &.active {
            @media screen and (min-width: $break-desktop) {
              background: #fff;
              border-right: 1px solid #fff;
            }

            a {
              color: $dark-accent;
            }
          }
        }
      }

      .woocommerce-MyAccount-content,
      #wl-wrapper .wl-panel {
        @media screen and (min-width: $break-desktop) {
          padding: 1.5em 4.347826087%;
          width: 69.2173913043%;
          background: #fff;
          border: 1px solid rgba(0, 0, 0, 0.05);
          float: left;
          margin-left: 30.4347826087%;
          min-height: 519px;
        }
      }

      .edit-account {
        input {
          font-family: $sans-serif;
        }
      }

      .star-rating span:before {
        color: $dark-accent;
      }

      div.product
        .woocommerce-product-gallery
        .woocommerce-product-gallery__trigger {
        background-color: $dark-accent;
      }
    }

    .site-content-with-sidebar {
      @include clearfix();

      .site-content {
        @media screen and (min-width: 768px) {
          float: left;
          width: 80%;
        }
      }

      .widget-area {
        padding: 1em;

        @media screen and (min-width: 768px) {
          float: right;
          width: 15%;
          padding: 0;
        }

        .sidebar-widgets {
          padding-left: 0;
          margin-left: 0;

          &> li {
            list-style-type: none;
          }
        }
      }

      &.blog {
        .site-content {
          p {
            img {
              &.alignleft {
                margin-right: 25px;
                margin-bottom: 25px;
              }

              &.alignright {
                margin-left: 25px;
                margin-bottom: 25px;
              }
            }
          }

          .recent-posts {
            padding-left: 0;
            margin-left: 0;
            
            li {
              list-style-type: none;
            }
          }
        }
      }
    }
  }

  #wl-wrapper {
    .wl-form {
      .wl-row:last-child {
        display: none;
      }
    }

    .wl-panel {
      th.product-price,
      th:last-child,
      td.product-price,
      td.product-purchase {
        display: none;
      }
    }

    .wl-tabs {
      li {
        position: relative;

        &:after {
          top: 60%;
        }
      }
    }
  }

  .about-credentials {
    text-align: center;

    li {
      list-style: none;
      display: inline-block;
      margin: 0 50px 50px 0;

      img {
        display: inline;
      }
    }
  }

  &.single-product {
    .site-content {
      .entry-title {
        text-transform: none;
        text-align: left;
      }
    }
  }

  &.misc-inner {
    .collections-link {
      display: block;
      position: relative;
      width: 100%;
      height: 400px;
      margin-top: 25px;

      img,
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      img {
        z-index: 1;
      }

      span {
        z-index: 2;
        line-height: 400px;
        font-family: $sans-serif;
        text-transform: uppercase;
        text-align: center;
        vertical-align: middle;
        font-size: 48px;
        color: #fff;
      }

      &:hover {
        span {
          color: $dark-accent;
        }
      }
    }
  }

  .taxonomy-description {
    p {
      text-align: center;
    }
  }

  .taxonomy-collections-content-area {
    .site-main > h3 {
      font-weight: 700;
      font-family: $serif;
      text-align: center;
      text-transform: uppercase;
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .sample-box {
    border: 1px solid $dark-accent;
    padding: 15px;
    clear: both;
    margin-top: 50px;

    p {
      font-weight: bold;
    }

    li {
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Styles for FCW Dealers Choice contest page
$fcw-border-radius: 25px;
$fcw-border-width: 3px;
$fcw-container-offset: $fcw-border-width * 2;
$fcw-border: #fff;
$fcw-border-rgba: rgba(255, 255, 255, 0);
$fcw-bg: #c08f55;
$fcw-bg-rgba: rgba(192, 143, 85, 0);

.emh {
  .fcw-content {
    position: relative;
    width: 100%;
    height: 940px;
    overflow: hidden;
    background-size: cover;
    background-position: top left;

    @media screen and (min-width: $break-desktop) {
        height: 1100px;
    }

    .main-content {
        padding-top: 60px;

        @media screen and (min-width: $break-desktop) {
            padding: 60px;
        }

      @media screen and (min-width: $break-med-desktop) {
        float: right;
      }

      h1 {
        font-family: 'futura-pt', $sans-serif;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-size: 48px;
        line-height: 72px;
        letter-spacing: 3px;
        margin: 0;

        @media screen and (min-width: $break-desktop) {
            text-align: right;
            font-size: 72px;
            line-height: 100px;
            letter-spacing: 14px;
        }

        em {
          color: $fcw-bg;
          font-style: normal;
        }

        .close {
          letter-spacing: 0;
        }
      }

      h2 {
        font-family: $serif;
        font-weight: 400;
        color: #fff;
        text-align: center;
        font-style: italic;
        font-size: 24px;
        margin: 10px 0;

        @media screen and (min-width: $break-desktop) {
            text-align: right;
            font-size: 36px;
            letter-spacing: 2px;
            padding-right: 20px;
        }
      }
    }

    .fcw-badge {
        margin: 40px auto 0 auto;
      position: relative;
      width: 350px;
      height: 190px;

      @media screen and (min-width: $break-desktop) {
          margin-right: 40px 20px 0 0;
          float: right;
      }

      .outer-border {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include ticket($fcw-border, $fcw-border-rgba, $fcw-border-radius);

        .middle-border {
          width: calc(100% - #{$fcw-container-offset});
          height: calc(100% - #{$fcw-container-offset});
          position: absolute;
          top: $fcw-border-width;
          left: $fcw-border-width;
          @include ticket($fcw-bg, $fcw-bg-rgba, $fcw-border-radius);

          .inner-border {
            width: calc(100% - #{$fcw-container-offset});
            height: calc(100% - #{$fcw-container-offset});
            position: absolute;
            top: $fcw-border-width;
            left: $fcw-border-width;
            @include ticket($fcw-border, $fcw-border-rgba, $fcw-border-radius);

            .badge-content {
              width: calc(100% - #{$fcw-container-offset});
              height: calc(100% - #{$fcw-container-offset});
              position: absolute;
              top: $fcw-border-width;
              left: $fcw-border-width;
              @include ticket($fcw-bg, $fcw-bg-rgba, $fcw-border-radius);
              display: flex;
              flex-direction: column;
              justify-content: center;

              p {
                flex: 1 0 row;
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 18px;
                line-height: 20px;
                margin: 5px 0;
                font-family: $serif;
                font-size: 22px;
                line-height: 26px;

                &.subtext {
                  font-size: 12px;
                }

                a {
                  color: #fff;
                  text-decoration: underline;
                  font-weight: bold;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
      }
    }

    .sub-content {
      position: absolute;
      bottom: 60px;
      left: 0;
      width: 100%;
      padding-bottom: 40px;

      @media screen and (min-width: $break-desktop) {
          bottom: 30px;
      }

      p {
        text-align: center;
        font-family: $serif;
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        margin: 0;
        padding: 0 20px;

        .subtext {
          font-size: 18px;
        }
      }
    }

    .footer-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #9e8c74;
      height: 60px;

      @media screen and (min-width: $break-desktop) {
          height: 30px;
      }

      p {
        text-align: center;
        font-family: $serif;
        color: #fff;
        font-size: 16px;
        letter-spacing: 3px;
        line-height: 30px;
        margin: 0;
        padding: 0 10px;

        @media screen and (min-width: $break-desktop) {
            letter-spacing: 6px;
            font-variant-ligatures: none;
        }
      }
    }
  }
}
