@mixin secondary-nav-sizing {
    color: #fff;
    padding: 0 .875em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2.4em;
}

@mixin secondary-nav-link {
    color: #fff;
    font-weight: 400;

    &:hover {
        color: $accent;
    }

    &:focus {
        border: 0;
        outline: 0;
    }
}

@mixin homepage-featured-headline {
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: $serif;
    text-align: center;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@mixin clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}